Base/Output/*
*.properties
*.DBK
*.log
*.PRN
*.BAK
*.[0-9][0-9][0-9]
TPPL.PRJ
TPPL.VAR
*{$$0}.s
*.DS_Store
.Rproj.user

Base/01_TLFD.DBF

Base/01_DCLS_LOGUTILITY.MAT

Base/01_MCLS_COMBINED_PROBABILITY.MAT

Base/01_TRIPS_IJK.MAT

Base/Auto_Skim.mtx

Base/USTM_transit_skim.MAT

Base/USTM_new_transit_skim_do_not_open.csv

Base/01_USTM_TRANSIT_SKIM.MAT

Base/USTM_transit_skim

Base/01_TLFD_HBW.DBF

CUBE/01_TRIPS_IJ.MAT

sample_calcs/Data/USTM-transit_skim1.csv

sample_calcs/Data/USTM_transit_skim1.csv

*.net

Base/01_PROCESSED_SKIMS_45.MAT

Base/01_PROCESSED_SKIMS_WHOLE.MAT

*.MAT

params/MC_Constants.csv

params/

*.RPT

Inputs/USTM_transit_skim1.csv

Inputs/SE_USTM_BASE2015.DBF

Inputs/HH_PROD.DBF
