# files that shouldn't be committed
*.properties
*.DBK
*.log
*.PRN
*.BAK
*.MAT
*.RPT
*.REP
*.TRF


# script files created automatically by CUBE on running should be ignored
*.[0-9][0-9][0-9]
trc{*}.s
TPPL.PRJ
TPPL.VAR

# scenario outputs folders
Base/Output/*
Base/logs/*


# mac and OS files
*.DS_Store
.Rproj.user

*.txt

sample_calcs/OUTPUTS/

sample_calcs/Disbenefit.png

*.html

Base/road10/Output/

Base/road30/Output/

Base/road38/Output/

Base/road41/Output/

Base/road50/Output/

Inputs/USTM_Passenger_XX.mtx

Inputs/2015_External_Volume.dbf

*.OMX

Base/road47/Output/

Base/road46/Output/

Base/road11/Output/

Base/road20/Output/

Base/road35/Output/
